.custom-slide {
    height: 320px;
    background-color: var(--color-pink);
    color: var(--color-white);
    display: flex;
    overflow: hidden;

    @media screen and (max-width: 1020px) {
        height: 250px;
    }

    @media screen and (max-width: 720px) {
        height: 180px;
    }

    .image, .description {
        flex: 1;
    }

    .image {
        background: linear-gradient(90deg, var(--color-pink), var(--color-black));

        .logo {
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            transform: scale(1.38);
        }
    }

    .description {
        flex: 2;
        background-color: var(--color-black);
        padding: 1em;
    }
}
