.PartnerBanner {
    margin: 2em 0 0 0;
    background-color: var(--color-black);
    width: 100vw;
    min-height: 140px;
    padding: 0 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &:nth-of-type(1) {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    }

    > * {
        margin: 2em;
    }

    &.no-animation {
        img {
            animation: none;
        }
    }

    &.small {
        min-height: 80px;
        
        > * {
            margin: 1em 3em;
        }

        img {
            transform: scale(.75);
        }
    }

    @media screen and (max-width: 480px) {
        > * {
            margin: .8em;
        }
    }

    img {
        height: 100px;
        animation: highlight 6s ease 0s infinite forwards;

        @media screen and (max-width: 480px) {
            animation: none;
            transform: scale(.7);
        }

        &.kickstart {
            height: 55px;
            animation-delay: 0s;
        }

        &.maxplaner {
            height: 70px;
            animation-delay: 1s;
        }

        &.velopunkt {
            height: 80px;
            animation-delay: 2s;
        }

        &.dfwi {
            height: 50px;
            animation-delay: 3s;
        }

        &.noack {
            height: 80px;
            animation-delay: 4s;
        }

        &.depressionshilfe {
            height: 90px;
            animation-delay: 5s;
        }

        @keyframes highlight {
            0% {
                transform: scale(1) rotate(0deg);
            }
            8% {
                transform: scale(1.2) rotate(8deg);
            }
            12% {
                transform: scale(1) rotate(0deg);
            }
        }
    }
}
