.RaceDescriptionSection {

    .main {
        display: flex;
    }

    h2 {
        border-bottom: 1px solid var(--color-pink);
    }

    p {
        padding-right: 3em;
    }

    .map {
        max-height: 400px;
    }

    @media screen and (max-width: 860px) {
        .map {
            display: none;
        }

        .main {
            padding: 1em;
        }

        p {
            padding-right: 0;
        }
    }
}
