.RaceDescriptionSection {

    .main {
        display: flex;
    }

    p {
        padding-right: 2em;
    }

    .map {
        max-height: 500px;
    }

    @media screen and (max-width: 860px) {
        .map {
            display: none;
        }

        .main {
            padding: 1em;
        }

        p {
            padding-right: 0;
        }
    }
}
