html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

  --color-pink: #ff3cd2;
  --color-black: #151515;
  --color-white: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  min-height: 200vh;
  overflow-x: hidden;
}

.main {
  max-width: calc(1280px + 2em);
  margin: 0 auto;
  padding: 1em;
  font-size: 1.3em;
  line-height: 1.4em;
  @media screen and (max-width: 720px) {
    font-size: 1.1em;
    line-height: 1.3em;
  }
}

h2 {
  &:not(.no-border) {
    border-bottom: 4px solid var(--color-pink);
  }
}

p {

  text-align: justify;

  @media screen and (max-width: 720px) {
    text-align: left;
  }

  strong {
    background-color: var(--color-pink);
    color: var(--color-white);
    font-size: .9em;
    padding: .125em .3em;
    opacity: .85;

    i {
      opacity: 1;
    }
  }

  i {
      font-style: italic;
      opacity: .8;
  }
}
