.TeamSection {
    padding-top: 5em;

    .introduction {
        margin-bottom: 2em;
    }

    .cards {
        margin: -1em;
        display: flex;
        flex-wrap: wrap;

        > div {
            background-color: var(--color-black);
            color: var(--color-white);
            display: flex;
            flex-grow: 1;
            margin: 1em;
            width: calc((1 / 2) * 100% - 2em);
            min-width: 300px;

            .img {
                height: 170px;
                width: 170px;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 1.5em;

                @media screen and (max-width: 560px) {
                    height: 120px;
                    width: 120px;
                }

                &.jasper {
                    background-image: url(./images/Jasper.png);
                }

                &.martin {
                    background-image: url(./images/Martin.png);
                }

                &.phillip {
                    background-image: url(./images/Phillip.png);
                }

                &.merle {
                    background-image: url(./images/Merle.png);
                }

                &.mona {
                    background-image: url(./images/Mona.png);
                }

                &.christian {
                    background-image: url(./images/Christian.png);
                }

                &.johann {
                    background-image: url(./images/Johann.png);
                }

                &.josephine {
                    background-image: url(./images/Josephine.png);
                }
            }

            .info {
                position: relative;
                flex: 1;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                p {
                    font-size: 1.3em;
                    font-weight: bold;
                    margin: 0;
                }
    
                span {
                    opacity: .6;
                    font-size: .85em;
                }

                .socials {
                    display: flex;
                    position: absolute;
                    bottom: 0;
        
                    a {
                        width: 16px;
                        height: 16px;
                        display: block;
                        margin-right: 1em;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        opacity: .9;
                        color: transparent;
                        user-select: none;
        
                        &.instagram {
                            background-image: url(./logos/instagram.png);
                        }
        
                        &.mail {
                            background-image: url(./logos/email.png);
                            transform: scale(1.15);
                        }
        
                        &.strava {
                            background-image: url(./logos/strava.png);
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
}